<div class="containerStep">
  <h1>Finishing up</h1>
  <p>Double-check everything looks OK before confirming.</p>
  <div class="finish">
    <div class="top">
      <div>
        <h3>Arcade (Monthly)</h3>
        <p class="change">Change</p>
      </div>
      <h3>$9/mo</h3>
    </div>
    <hr />
    <div class="others">
      <div class="other">
        <p>Online service</p>
        <p class="price">+$1/mo</p>
      </div>
      <div class="other">
        <p>Large storage</p>
        <p class="price">+$2/mo</p>
      </div>
    </div>
  </div>
  <div class="total">
    <p>Total (per month)</p>
    <h2>+12/mo</h2>
  </div>


  <section class="buttons">
    <button class="goBack">Go Back</button> <br />
    <button class="confirm">Confirm</button>
  </section>
</div>
