<div class="containerStep">
  <h1>Pick add-ons</h1>
  <p>Add-ons help enhance your gaming experience.</p>
  <section class="add-ons">
    <div class="add-on">
      <div class="info">
        <input type="checkbox" name="online" id="online" />
        <div>
          <h3>Online service</h3>
          <p>Access to multiplayer games</p>
        </div>
      </div>
      <p class="price">+1/mo</p>
    </div>

    <div class="add-on select">
      <div class="info">
        <input type="checkbox" name="online" id="online" />
        <div>
          <h3>Large storage</h3>
          <p>Extra 1TB of cloud save</p>
        </div>
      </div>
      <p class="price">+2/mo</p>
    </div>

    <div class="add-on">
      <div class="info">
        <input type="checkbox" name="online" id="online" />
        <div>
          <h3>Customizable profile</h3>
          <p>Custom theme on your profile</p>
        </div>
      </div>
      <p class="price">+2/mo</p>
    </div>

    <section class="buttons">
        <button class="goBack">Go Back</button> <br />
        <button class="nextStep">Next Step</button>
      </section>
  </section>
</div>
