<div class="containerStep">
  <h1>Select your plan</h1>
  <p>You have the option of monthly or yearly billing</p>

  <section class="plans">
    <div class="plan select">
      <img src="../../../assets/images/icon-arcade.svg" alt="Icon Arcade" />
      <h3>Arcade</h3>
      <p class="price">$9/mo</p>
    </div>
    <div class="plan">
      <img src="../../../assets/images/icon-advanced.svg" alt="Icon Advanced" />
      <h3>Advanced</h3>
      <p class="price">$12/mo</p>
    </div>
    <div class="plan">
      <img src="../../../assets/images/icon-pro.svg" alt="Icon Pro" />
      <h3>Pro</h3>
      <p class="price">$15/mo</p>
    </div>
  </section>

  <section class="monthYear">
    <p class="month">Monthly</p>
    <label class="switch">
      <input type="checkbox" />
      <span class="slider round"></span>
    </label>
    <p class="year">Yearly</p>
  </section>

  <section class="buttons">
    <button class="goBack">Go Back</button> <br />
    <button class="nextStep">Next Step</button>
  </section>
</div>
