<div class="menu">
    <div class="pasos">
        <h3 [ngClass]="paso === 1 ? 'activo':'' ">1</h3>
        <p><span>STEP 1</span>YOUR INFO</p>
    </div>
    <div class="pasos">
        <h3 [ngClass]="paso === 2 ? 'activo':'' ">2</h3>
        <p><span>STEP 2</span>SELECT PLAN</p>
    </div>
    <div class="pasos">
        <h3 [ngClass]="paso === 3 ? 'activo':'' ">3</h3>
        <p><span>STEP 3</span>ADD-ONS</p>
    </div>
    <div class="pasos">
        <h3 [ngClass]="paso === 4 ? 'activo':'' ">4</h3>
        <p><span>STEP 4</span>SUMMARY</p>
    </div>
</div>
<!-- <img src="../../../assets/images/bg-sidebar-mobile.svg" alt=""> -->