<div class="containerStep">
  <h1>Personal info</h1>
  <p>Please provide your name, email address, and phone number.</p>
  <form>
    <div class="labels">
      <label for="name">Name</label>
      <label class="required" [hidden]="!vacioName">This field is required</label>
    </div>

    <br />
    <input
      type="text"
      id="name"
      [(ngModel)]="name"
      name="name"
      placeholder="e.g. Stephen King"
      [ngClass]="vacioName ? 'error' : ''"
      (keyup)="change($event)"
      required
    /><br />
    <div class="labels">
      <label for="email">Email Address</label>
      <label class="required" [hidden]="!vacioEmail">This field is required</label>
    </div>
    <br />
    <input
      [(ngModel)]="email"
      type="email"
      id="email"
      name="email"
      placeholder="e.g. stephenking@lorem.com"
      [ngClass]="vacioEmail ? 'error' : ''"
      (keyup)="change($event)"
      required
    /><br />
    <div class="labels">
      <label for="phone">Phone Number </label>
      <label class="required" [hidden]="!vacioPhone">This field is required</label>
    </div>
    <br />
    <input
      [(ngModel)]="phoneNumber"
      type="number"
      id="phone"
      name="phone"
      placeholder="e.g. +1 234 567 890"
      [ngClass]="vacioPhone ? 'error' : ''"
      (keyup)="change($event)"
      required
    /><br /><br />
    <!-- <input type="submit" value="Next Step" /> -->
    <input type="submit" value="Next Step" (click)="submit($event)" />
  </form>
</div>
